<div class="container">
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="combo">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="country">Gallery</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Products
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" routerLink="counter">Counter</a></li>
                  <li><a class="dropdown-item" routerLink="styl">Change Style</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="worker">Operations</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="photo">Photos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="addphoto">Add Photo</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              
              <button class="btn btn-light me-3" (click)="gotoloc()" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
<!--****************************-->    
<div class="row">
<div class="col-md-12">
<router-outlet></router-outlet>
</div>         
</div>
</div>


